#!/bin/sh
# {{ansible_managed}}
{% if duply__mysql_backup %}
    mysqldump --defaults-file=/etc/mysql/debian.cnf --all-databases  --single-transaction > /root/backup.sql
{% endif %}

{% if duply__postgresql_backup %}
    sudo -u postgres pg_dumpall > /root/backup.postgres.sql
{% endif %}
